name: Create and publish a Docker image to GitHub Container Registry & DockerHub

on:
  workflow_dispatch:
    inputs:
      caller:
        description: 'The invoker of the workflow'
        required: false
        default: ''
  push:
    branches: ['main']

env:
  DHUB_IMAGE_NAME: bdwyertech/ctr-aws-ecr-credential-helper
  GHCR_IMAGE_NAME: ghcr.io/bdwyertech/ctr-aws-ecr-credential-helper

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write # Required for provenance metadata
      security-events: write # For Scan results

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get current date
        id: date
        run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.GHCR_IMAGE_NAME }}
          # ${{ env.DHUB_IMAGE_NAME }}
          labels: |
            org.opencontainers.image.title=${{ env.DHUB_IMAGE_NAME }}
          flavor: |
            latest=true
          tags: |
            type=sha,enable=true,priority=100,prefix=${{ steps.date.outputs.date }}--,suffix=,format=short

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          provenance: true
          sbom: true
